# 빌드 산출물 제외 (이게 용량 주범)
build/
install/
log/

# 버전 관리 파일 제외
.git/
.gitignore

# VS Code 설정 제외
.vscode/
.pixi/

# 녹화된 데이터 제외
*.bag
*.mcap
*.db3

# 도커 관련 설정 제외
docker-compose.yaml
Dockerfile
run_sim.sh
.dockerignore